<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/wwwroot/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/wwwroot/css/style.css">
    <title>The HEX Game</title>
</head>
<body>
<header>
    <nav>
        <div class="navbar-logo">
            <img class="nav-logo" href="index.html" src="/wwwroot/assets/logo.png">
        </div>
        <ul>
            <li><a href="Project.html">About project</a></li>
            <li><a href="Authors.html">Authors</a></li>
        </ul>
    </nav>
    
</header> 
    <div class="main-content">
        <div class="game-container">
            




        </div>
        <p class="difficulty-bar">
            <span>DIFFICULTY:</span>
            <a href="game-lvl1.html">Very easy</a>
            <a href="game-lvl1.html">Easy</a>
            <a href="game-lvl1.html">Medium</a>
            <a href="game-lvl1.html">Hard</a>
            <a href="game-lvl1.html">Very hard</a>
            <a href="game-lvl1.html">Master</a>

        </p>
        <div class="sidebar-1 hg-sidebar"></div>
        <div class="sidebar-2 hg-sidebar"></div>
    </div>

      


<!-- <script src="scripts/scripts.js"></script> -->
</body>