@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --color-primary: #1f1f1f;
    --color-secondary: #f5f7fa;
    --color-accent: #7bff34;
    --color-test: #af4a3f;
}
/* Basic properties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: var(--color-primary); /* Change to #f5f7fa after dark-mode implementation */
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  /* TEST 
  justify-content: center;
  align-items: center; */
  transition: all ease-in-out 0.3s;
  min-height: 100vh;
  padding: 20px;
}

/* Styling navbar */
header{
    width: 100%;
    background-size: cover;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px;
    width: 100%;
}
.navbar-logo {
    display:flex;
    justify-content: right;
}
.btn-logging {
    justify-content: right;
}
nav ul {
    justify-items: center;
}
nav ul li{
    list-style-type: none;
    list-style: none;
    display: inline-block;
    padding: 15px;  
}
nav ul li a{
    color: var(--color-secondary);
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: var(--color-accent);
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--color-accent);
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}

.nav-logo{
    width: 180px;
    height: 100px;
    max-height: 60px;
}
a{
    text-decoration: none;
}
/* Styling navbar buttons */
.btn{
    color: var(--color-primary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: var(--color-accent);
    border: 2px solid var(--color-accent);
}
.btn:hover{
    background: transparent;
    border-color: var(--color-accent);
    color: var(--color-accent);
}

/* Styling website layout */
.main-content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}


/* Styling website content */
.content-logo {
    opacity: 0.7;
    order: -1;
    width: 300px;
    height: 300px;
    bottom: 100px;
}
.content-text {
    color: var(--color-secondary);
    padding: 50px 300px;
}
.content-title {
    font-size: 90px;
    letter-spacing: 1.8px;
    word-spacing: 1.8px;
    color: var(--color-secondary);
    font-weight: normal;
    text-decoration: none;
    font-style: oblique;
    font-variant: normal;
    text-transform: none;
}


/* Registration & Login section*/
.sign-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-control {
    display: flex;
    flex-direction: column;
}
.sign-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 1.8px;
    word-spacing: 1.8px;
    color: var(--color-secondary);
    font-weight: normal;
}
.form-control input {
    width: 300px;
    height: 40px;
    border-radius: 500px;
    border: 2px solid var(--color-secondary);
    padding: 0 20px;
    font-size: 16px;
    letter-spacing: 1.8px;
    word-spacing: 1.8px;
    color: var(--color-accent);
    font-weight: normal;
    transition: all .4s ease-in-out;
    background: transparent;
}
label {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--color-secondary);
}

.sign-btn {
    border-radius: 20px;
    color: var(--color-primary);
    font-size: 12px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
}

.sign-btn:active {
    transform: scale(0.95);
}
.sign-btn:focus {
    outline: none;
}
.sign-btn:hover {
    background: transparent;
    border-color: var(--color-accent);
    color: var(--color-accent);
}
/* 
TODO: trzeba dodać kolory borderów jak ktoś wprowadzi zły input
TODO: trzeba dodać klasę dla wybranego przycisku
*/

/* Styling game.html page */
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}