@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding 0;
}

body {
  background-color: #1f1f1f; /* Change to #f5f7fa after dark-mode implementation */
  display: flex;
  transition: all ease-in-out 0.3s;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}
/* Styling navbar */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-size: cover;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
nav ul li{
    list-style-type: none;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    color: #f5f7fa;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #7bff34;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #7bff34;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}

.nav-logo{
    margin-top: 20px;
    margin-left: 20px;
    width: 180px;
    height: 100px;
    max-height: 60px;
}
/* Styling navbar buttons */
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #7bff34;
    border: 2px solid #234a38;
}
.btn:hover{
    background: transparent;
    border-color: #7bff34;
    color: #7bff34;
}
/* Styling website layout */
.main-content {
    display: flex;
}
.content{
    flex: 1 1 auto;
}
@media (min-width: 768px) {
    sidebar-1 { order -1};
    main-content {flex-direction: row;}
    hg-sidebar {flex: 0 0 260px;}
}
.content-logo {
    opacity: 0.7;
    order: -1;
    width: 500px;
    height: 500px;
}





/* Dark/Light mode toggler */
/* body.dark-theme {
  background-color: #1f1f1f;
}

body.dark-theme h2, body.dark-theme p {
  color: #ddd;
}

.toggle input[type=checkbox] {
  display: none;
}

.toggle label {
  background-color: #777;
  border: 2px solid #555;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 100px;
  height: 50px;
}

.toggle label::after {
  background-color: #555;
  border-radius: 50%;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all ease-in-out 0.3s;
  width: 42px;
  height: 42px;
}

.toggle input[type=checkbox]:checked ~ label {
  background-color: #f6f6f6;
  border-color: #555;
}

.toggle input[type=checkbox]:checked ~ label::after {
  background-color: #555;
  transform: translateX(50px);
} */

