@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1f1f1f; /* Change to #f5f7fa after dark-mode implementation */
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: all ease-in-out 0.3s;
  min-height: 100vh;
 
  padding: 20px;
}
/* Styling navbar */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-size: cover;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px;
    width: 100%
}
.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
nav ul li{
    list-style-type: none;
    list-style: none;
    display: inline-block;
    padding: 15px;  
}
nav ul li a{
    color: #f5f7fa;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #7bff34;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #7bff34;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn-logging {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-logo{
    margin-top: 20px;
    margin-left: 20px;
    width: 180px;
    height: 100px;
    max-height: 60px;
}
/* Styling navbar buttons */
.btn{
    color: #1f1f1f;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #7bff34;
    border: 2px solid #234a38;
}
.btn:hover{
    background: transparent;
    border-color: #7bff34;
    color: #7bff34;
}
/* Styling website layout */
.main-content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    sidebar-1 { order -1};
    main-content {flex-direction: row;}
    hg-sidebar {flex: 0 0 260px;}
}

/* Styling website content */
.content-logo {
    opacity: 0.7;
    order: -1;
    width: 300px;
    height: 300px;
    bottom: 100px;
}
.content-text {
    color: #f5f7fa;
    padding: 50px 300px;
}
.content-title {
    font-size: 90px;
    letter-spacing: 1.8px;
    word-spacing: 1.8px;
    color: #F5F7FA;
    font-weight: normal;
    text-decoration: none;
    font-style: oblique;
    font-variant: normal;
    text-transform: none;
}
